@model IEnumerable<WishListProduct>
@{
    Layout = "_Layout3";
    ViewBag.Title = "Wishlist";
}

<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Open+Sans">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
        .body {
            background: #e2eaef;
            font-family: "Open Sans", sans-serif;
        }

        h2 {
            color: #000;
            font-size: 26px;
            font-weight: 300;
            text-align: center;
            text-transform: uppercase;
            position: relative;
            margin: 30px 0 60px;
        }

            h2::after {
                content: "";
                width: 100px;
                position: absolute;
                margin: 0 auto;
                height: 4px;
                border-radius: 1px;
                background: #0a5d5d;
                left: 0;
                right: 0;
                bottom: -20px;
            }

        .carousel {
            margin: 50px auto;
            padding: 0 70px;
        }

            .carousel .item {
                color: #747d89;
                min-height: 325px;
                text-align: center;
                overflow: hidden;
            }

            .carousel .thumb-wrapper {
                padding: 25px 15px;
                background: #fff;
                border-radius: 6px;
                text-align: center;
                position: relative;
                box-shadow: 0 2px 3px rgba(0,0,0,0.2);
            }

            .carousel .item .img-box {
                height: 120px;
                margin-bottom: 20px;
                width: 100%;
                position: relative;
            }

            .carousel .item img {
                max-width: 100%;
                max-height: 100%;
                display: inline-block;
                position: absolute;
                bottom: 0;
                margin: 0 auto;
                left: 0;
                right: 0;
            }

            .carousel .item h4 {
                font-size: 18px;
            }

            .carousel .item h4, .carousel .item p, .carousel .item ul {
                margin-bottom: 5px;
            }

            .carousel .thumb-content .btn {
                color: #0a5d5d;
                font-size: 11px;
                text-transform: uppercase;
                font-weight: bold;
                background: none;
                border: 1px solid #0a5d5d;
                padding: 6px 14px;
                margin-top: 5px;
                line-height: 16px;
                border-radius: 20px;
            }

                .carousel .thumb-content .btn:hover, .carousel .thumb-content .btn:focus {
                    color: #fff;
                    background: #0a5d5d;
                    box-shadow: none;
                }

                .carousel .thumb-content .btn i {
                    font-size: 14px;
                    font-weight: bold;
                    margin-left: 5px;
                }

            .carousel .item-price {
                font-size: 13px;
                padding: 2px 0;
            }

                .carousel .item-price strike {
                    opacity: 0.7;
                    margin-right: 5px;
                }

        .carousel-control-prev, .carousel-control-next {
            height: 44px;
            width: 40px;
            background: #0a5d5d;
            margin: auto 0;
            border-radius: 4px;
            opacity: 0.8;
        }

            .carousel-control-prev:hover, .carousel-control-next:hover {
                background: #0a5d5d;
                opacity: 1;
            }

            .carousel-control-prev i, .carousel-control-next i {
                font-size: 36px;
                position: absolute;
                top: 50%;
                display: inline-block;
                margin: -19px 0 0 0;
                z-index: 5;
                left: 0;
                right: 0;
                color: #fff;
                text-shadow: none;
                font-weight: bold;
            }

            .carousel-control-prev i {
                margin-left: -2px;
            }

            .carousel-control-next i {
                margin-right: -4px;
            }

        .carousel-indicators {
            bottom: -50px;
        }

            .carousel-indicators li, .carousel-indicators li.active {
                width: 10px;
                height: 10px;
                margin: 4px;
                border-radius: 50%;
                border: none;
            }

            .carousel-indicators li {
                background: rgba(0, 0, 0, 0.2);
            }

                .carousel-indicators li.active {
                    background: rgba(0, 0, 0, 0.6);
                }

        .carousel .wish-icon {
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 99;
            cursor: pointer;
            font-size: 16px;
            color: #abb0b8;
        }

            .carousel .wish-icon .fa-heart {
                color: #ff6161;
            }

        .star-rating li {
            padding: 0;
        }

        .star-rating i {
            font-size: 14px;
            color: #ffc000;
        }
    </style>

</head>
<body>
    <br />
    <br />
    <br />
    <br />
    <div class="container-xl">
        <div class="row">
            <div class="col-md-12">
                <h2><b>WISHLIST </b></h2>
                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for carousel items -->
                    @if (Model.Count() > 0)
                   {
                    <div class="carousel-inner">
                        <div class="item carousel-item active">
                                <div class="row" id="wishlist-container">
                                    
                                    @foreach (var item in Model)
                                    {
                                        <div class="col-sm-3" id="wishlist-item-@item.Product.Id">
                                            <div class="thumb-wrapper">
                                                <span class="wish-icon">
                                                    <a href="javascript:void(0);" class="toggle-wishlist" data-product-id="@item.Product.Id">
                                                        <i class="fa fa-heart" id="wishlist-icon-@item.Product.Id"></i>
                                                    </a>
                                                </span>
                                                <div class="img-box">
                                                    <img src="~/productImages/@item.Product.ImageFileName" class="img-thumbnail" alt="@item.Product.Name">
                                                </div>
                                                <div class="thumb-content">
                                                    <h4>@item.Product.Name</h4>
                                                    <p class="item-price"><b>@item.Product.Price</b></p>
                                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                  
                                </div>
                            </div>
                        </div>
                        <!-- Carousel controls -->
                        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>

                    }
                    else
                    {
                        <div id="empty-wishlist-message" class="container text-center" style="display:none;" >
                            <h3>Your wishlist is empty!</h3>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.toggle-wishlist').on('click', function () {
                var productId = $(this).data('product-id');
                var icon = $('#wishlist-icon-' + productId);
                var itemContainer = $('#wishlist-item-' + productId);

                $.ajax({
                    url: '@Url.Action("ToggleWishlist", "WishList")',
                    type: 'POST',
                    data: { productId: productId },
                    headers: {
                        'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                    },
                    success: function (response) {
                        if (!response.isInWishlist) {
                            // Remove the item from the wishlist page if it was successfully removed from the wishlist
                            itemContainer.remove();
                            var currentCount = parseInt($('#wishlist-count').text());
                            $('#wishlist-count').text(currentCount - 1);

                            
                            if (currentCount - 1 <= 0) {
                                $('#wishlist-container').hide();  // Hide the wishlist items container
                                $('#empty-wishlist-message').show();  // Show the "wishlist is empty" message
                            }
                        } 
                    },
                    error: function () {
                        alert('Error removing from wishlist!');
                    }
                });
            });
        });

    </script>
</body>
</html>



