@model IEnumerable<WishListProduct>
@{
    Layout = "_Layout3";
    ViewBag.Title = "Wishlist";
}


<br />
<br />
<div class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <h2><b>WISHLIST</b></h2>

        @if (Model.Any())
        {
            <div id="wishlist-container" class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                @foreach (var item in Model)
                {
                    <div class="col mb-md-5" id="wishlist-item-@item.Product.Id">
                        <div class="card h-100 w-100">
                            <span class="wish-icon">
                                <a href="javascript:void(0);" class="toggle-wishlist" data-product-id="@item.Product.Id">
                                    <i class="fa-heart  fa-solid" id="wishlist-icon-@item.Product.Id"></i>
                                </a>
                            </span>

                            <img src="~/productImages/@item.Product.ImageFileName" class="card-img-top" alt="@item.Product.Name" style="height:250px;">
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h4 class="fw-bolder product-name" >@item.Product.Name</h4>
                                    <!-- Product price-->
                                    <p class="item-price"><strong>@item.Product.Price.ToString("C")</strong></p>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-dark mt-auto add-to-cart" data-product-id="@item.Product.Id" data-quantity="1">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div id="empty-wishlist-message" class="container text-center">
                <h3>Your wishlist is empty!</h3>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.toggle-wishlist').on('click', function () {
                var productId = $(this).data('product-id');
                var icon = $('#wishlist-icon-' + productId);
                var itemContainer = $('#wishlist-item-' + productId);

                $.ajax({
                    url: '@Url.Action("ToggleWishlist", "WishList")',
                    type: 'POST',
                    data: { productId: productId },
                    headers: {
                        'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                    },
                    success: function (response) {
                        if (!response.isInWishlist) {
                            // Remove the item from the wishlist page if it was successfully removed
                            itemContainer.remove();
                            var currentCount = parseInt($('#wishlist-count').text());
                            var newCount = currentCount - 1;
                            $('#wishlist-count').text(newCount);

                            // Handle when the wishlist is empty
                            if (newCount === 0) {
                                $('#wishlist-container').hide();  // Hide the wishlist items container
                                $('#empty-wishlist-message').show();  // Show the "wishlist is empty" message
                            }
                        }
                    },
                    error: function () {
                        alert('Error removing from wishlist!');
                    }
                });
            });
        });
    </script>

    <script>
                $(document).ready(function () {
            $(document).on('click', '.add-to-cart', function () {
                var productId = $(this).data('product-id');
                var quantity = $(this).data('quantity');

                $.ajax({
                    url: '/Cart/AddToCart',
                    type: 'POST',
                    data: {
                        productId: productId,
                        quantity: quantity
                    },
                    headers: {
                        'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                    },
                    success: function (response) {
                        if (response.isInCart) {
                      


                        } else {
                            alert('Failed to add product to cart.');
                        }
                    },
                    error: function () {
                        alert('Error while adding product to cart.');
                    }
                });
            });
        });

    </script>
}
