@model IEnumerable<Category>
@{
    ViewData["Title"] = "Category List";
    Layout = "AdminLayout";
}



        <h2 class="mb-4">Categories</h2>
<br />
<br />
<a asp-action="Create" class="btn btn-outline-dark">Create New Category</a>
        <br />
        <br />
        <table class="table table-bordered  table-hover">
            <thead class="table-dark">
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Actions</th>
                </tr>  
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <td class="text-center">@category.Name</td>
                        <td class="text-center">@category.Description</td>
                        <td class="text-center">
                            <a asp-action="Details" asp-route-id="@category.Id" class="btn btn-info"> <i class="fas fa-eye"></i> View</a>
                            <a asp-action="Edit" asp-route-id="@category.Id" class="btn btn-success"> <i class="fas fa-edit"></i> Edit</a>
                            <a href="javascript:void(0)" class="btn btn-danger" onclick="confirmDelete('@category.Id', '@Url.Action("Delete", new { id = category.Id })')">
                                <i class="fas fa-trash-alt"></i> Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

@section Scripts
{
    <script>
        function confirmDelete(userId, deleteUrl) {
            Swal.fire({
                title: "Delete Category",
                text: "Are you sure about deleting this category ?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Delete it",
                cancelButtonText: "Cancel",
                confirmButtonColor: "#d33",
                cancelButtonColor: "#3085d6",
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = deleteUrl;
                }
            });
        }
    </script>

}