@model IQueryable<Order>
@{
    Layout = "AdminLayout";
    ViewData["Title"] = "Order List";
}

<h2 class="mb-4">Orders</h2>
<br />
<br />

<table class="table table-bordered  table-hover">
    <thead class="table-dark">
        <tr>
            <th class="text-center">Order Id</th>
            <th class="text-center">Customer</th>
            <th class="text-center"> Date</th>
            <th class="text-center">Total Price</th>      
            <th class="text-center">Status</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            @foreach (var order in Model)
            {

                <tr>
                    <td class="text-center">@order.Id</td>
                    <td class="text-center">@(order.User.FirstName + " " + order.User.LastName)</td>
                    <td class="text-center">@order.OrderDate</td>
                    <td class="text-center">@order.TotalAmount.ToString("C")</td>
                    <td class="text-center">
                        <span class="badge 
                        @(order.OrderStatus == OrderStatus.Pending ? "bg-primary"
                        : order.OrderStatus == OrderStatus.Shipped ? "bg-secondary"
                        : order.OrderStatus == OrderStatus.Cancelled ? "bg-danger"
                        : order.OrderStatus == OrderStatus.Delivered ? "bg-success"
                        : "bg-info")">@order.OrderStatus</span>
                    </td>


                    <td class="text-center">
                        <a asp-action="Details" asp-route-id="@order.Id" class="btn btn-info"> <i class="fas fa-eye"></i></a>
                       @*  <a asp-action="Edit" asp-route-id="@order.Id" class="btn btn-success"> <i class="fas fa-edit"></i> </a>   *@                
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="8" class="text-center alert alert-warning" style="font-size:22px;letter-spacing:2px;">No Orders Exist!  </td>
            </tr>
        }

    </tbody>
</table>




