@model Order
@{
    ViewBag.Title = "Order View";
}

 <div class="container my-5 ">
     <div class="row">
                <!-- Billing Details -->
         <div class="col-md-7 mt-4">
             <h4>Billing details</h4>
             <div class="card">
                 <div class="card-body">
                     <table class="table table-borderless">
                         <thead>
                             <tr>
                                 <th scope="col">Description</th>
                                 <th scope="col">Details</th>
                             </tr>
                         </thead>
                         <tbody>
                             <tr>
                                 <td>First Name</td>
                                 <td>@Model.User.FirstName</td>
                             </tr>

                         <tr>
                             <td>Last Name</td>
                             <td>@Model.User.LastName</td>
                         </tr>
                         <tr>
                             <td>Phone</td>
                             <td>@Model.User.Phone</td>
                         </tr>
                         <tr>
                             <td>Email</td>
                             <td>@Model.User.Email</td>
                         </tr>
                           
                             <tr>
                                 <td>Country</td>
                                 <td>@Model.Country</td>
                             </tr>

                             <tr>
                                 <td>State / County</td>
                                 <td>@Model.State</td>
                             </tr>

                             <tr>
                                 <td>City</td>
                                 <td>@Model.City</td>
                             </tr>

                             <tr>
                                 <td>Postcode / ZIP</td>
                                 <td>@Model.ZipCode</td>
                             </tr>

                             <tr>
                                 <td>Notes</td>
                                 <td>@Model.Notes</td>
                             </tr>
                             <tr>
                                 <td>Date</td>
                                 <td>@Model.OrderDate</td>
                             </tr>
                            
                             <tr>
                                 <td>Total Amount</td>
                                 <td>@Model.TotalAmount.ToString("C")</td>
                             </tr>
                             <tr>
                                 <td>Order Status</td>
                                 <td>
                                     <span class="status
                            @(Model.OrderStatus == OrderStatus.Pending ? "bg-primary"
                            : Model.OrderStatus == OrderStatus.Shipped ? "bg-secondary"
                            : Model.OrderStatus == OrderStatus.Cancelled ? "bg-danger"
                            : Model.OrderStatus == OrderStatus.Delivered ? "bg-success"
                            : "bg-nfo")">@Model.OrderStatus</span>
                                 </td>
                             </tr>
                             <tr>
                                 <td>Payment Status</td>
                                 <td>
                                     <span class="status
                            @(Model.PaymentStatus ==PaymentStatus.Pending ? "bg-primary"
                            : Model.PaymentStatus ==PaymentStatus.Failed ? "bg-secondary"
                            : Model.PaymentStatus ==PaymentStatus.Canceled ? "bg-danger"
                            : Model.PaymentStatus ==PaymentStatus.Completed ? "bg-success"
                            : "bg-nfo")">@Model.PaymentStatus</span>
                                 </td>
                             </tr>
                         </tbody>
                     </table>
             <a asp-action="UserIndex" class="btn btn-outline-dark w-100 mt-3 m-2 btn-lg" style="letter-spacing:1px;">
                 Back To List
             </a>
                 </div>
             </div>
         </div>
         <partial name="_OrderItems"></partial>
     </div>
 </div>


