@model IEnumerable<Product>

@{
    ViewData["Title"] = "Product List";
    Layout = "AdminLayout";
}

<h2 class="mb-4">Products</h2>
<br />
<br />
        <a asp-action="Create" class="btn btn-outline-dark">Create New Product</a>
        <br />
        <br />
        <table class="table table-bordered  table-hover">
            <thead class="table-dark">
                <tr>
                    <th class="text-center">Product Id</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Stock Quantity</th>
                    <th class="text-center">Category</th>
                    <th class="text-center">Image</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td class="text-center">@product.Id</td>
                        <td class="text-center">@product.Name</td>
                        <td class="text-center">@product.Price.ToString("C")</td>
                        <td class="text-center">@product.StockQuantity</td>
                        <td class="text-center">@product.Category.Name</td>
                        <td class="text-center">
                             <img src="~/productImages/@product.ImageFileName" alt="@product.Name" class="img-thumbnail" style="width: 100px ; height:100px" />
                        </td>
                        <td class="text-center">
                            <a asp-action="Details" asp-route-id="@product.Id" class="btn btn-info"> <i class="fas fa-eye"></i> </a>
                            <a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-success"> <i class="fas fa-edit"></i> </a>  
                            <a href="javascript:void(0)" class="btn btn-danger" onclick="confirmDelete('@product.Id', '@Url.Action("Delete", new { id = product.Id })')">
                                <i class="fas fa-trash-alt"></i> 
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

@section Scripts
{
    <script>
        function confirmDelete(userId, deleteUrl) {
            Swal.fire({
                title: "Delete Product",
                text: "Are you sure about deleting this product ?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Delete it",
                cancelButtonText: "Cancel",
                confirmButtonColor: "#d33",
                cancelButtonColor: "#3085d6",
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = deleteUrl;
                }
            });
        }
    </script>

}


