@model IEnumerable<Product>

@{
    ViewData["Title"] = "Product List";
    Layout = "layout3";
}

<link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<h2 style="color: #b32400 ; padding: 10px"  >Product List</h2>

<a asp-action="Create" class="btn btn-outline-dark mb-2" style="margin:0 100px">Create New Product</a>

<table class="table table-bordered  table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Stock Quantity</th>
            <th>Image</th>
            <th>Category</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price.ToString("C")</td>
                <td>@product.StockQuantity</td>
                <td>
                    <img src="~/images/@product.ImageFileName" alt="@product.Name" style="max-width: 100px;" />
                </td>
                <td>@product.Category.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-sm btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@product.Id" class="btn btn-sm btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


