@model IQueryable<Product>
@{
    ViewData["Title"] = "Product List";
}


<div class="py-5">
    <div class="container px-4 px-lg-5 mt-5">

        <h2 style=" font-size: 35px;"><b>All Products</b></h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    @foreach (var product in Model)
                    {
                        <div class="col mb-md-5"> 
                            <div class="card h-100 w-100">
                                <span class="wish-icon">
                                    <a href="javascript:void(0);" class="toggle-wishlist" data-product-id="@product.Id">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                    <i class="fa-heart @(product.WishListProducts.Any(wp=>wp.ProductId == product.Id && wp.WishList.UserId == int.Parse(User.FindFirst(ClaimTypes.NameIdentifier)?.Value))  ? "fa-solid" : "fa-regular")" id="wishlist-icon-@product.Id"></i>
                                    }
                                    else
                                    {
                                        <i class="fa-heart fa-regular" id="wishlist-icon-@product.Id"></i>
                                    }
                                    </a>
                                </span>
                                <!-- Product image-->
                                <img class="card-img-top" src="~/productImages/@product.ImageFileName" alt="@product.Name" style="height:250px;" />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                <h4 class="fw-bolder product-name">@product.Name</h4>
                                <!-- Product price-->
                                <p class="item-price"><strong>@product.Price.ToString("C")</strong></p>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto add-to-cart" data-product-id="@product.Id" data-quantity="1">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            $('.toggle-wishlist').on('click', function () {
                var productId = $(this).data('product-id');
                var icon = $('#wishlist-icon-' + productId);

                $.ajax({
                    url: '@Url.Action("ToggleWishlist", "WishList")',
                    type: 'POST',
                    data: { productId: productId },
                    headers: {
                        'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                    },
                    success: function (response) {
                        if (response.isInWishlist) {
                            icon.removeClass('fa-regular').addClass('fa-solid');
                            icon.css('color', '#ff6161');  // Red color for heart
                            
                        } else {
                            icon.removeClass('fa-solid').addClass('fa-regular');
                            icon.css('color', '#23533c');  // Reset to default
                            
                        }
                    },
                    error: function () {
                        alert('Error toggling wishlist!');
                    }
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(document).on('click', '.add-to-cart', function () {
                var productId = $(this).data('product-id');
                var quantity = $(this).data('quantity');

                $.ajax({
                    url: '/Cart/AddToCart',
                    type: 'POST',
                    data: {
                        productId: productId,
                        quantity: quantity
                    },
                    headers: {
                        'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                    },
                    success: function (response) {
                        if (response.isInCart) {
                            

                          
                        } else {
                            alert('Failed to add product to cart.');
                        }
                    },
                    error: function () {
                        alert('Error while adding product to cart.');
                    }
                });
            });
        });

    </script>
}